<% provide(:title, "Top") %>

<div class="center jumbotron">
  <h1>ゲーム大会進行管理システム</h1>
  <p>ゲーム進行に関する手続きをオンライン上で完結しましょう。</p>
  <%= link_to "ユーザー登録", signup_path, class: "btn btn-lg btn-primary" %>
</div>