<% provide(:class_text, 'user--edit') %>
<% provide(:button_text, '更新') %>

<div class="modal-dialog modal-md modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="modal-title mx-auto">【ユーザー情報の更新】</h3>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <%= render 'form' %>
        </div>
      </div>
      <div class="text-right">
        <%= link_to "退会する", @user, method: :delete,
                                       data: { confirm: "本当に退会しますか？（元に戻せません）" },
                                       class: "btn btn-danger m-3" %>
      </div>
    </div>
  </div>
</div>