<% provide(:title, "トーナメント更新") %>
<% provide(:class_text, 'tournament-edit') %>
<% provide(:button_text, '更新') %>
<h1><%= @tournament.name %></h1>

<div class="row">
  <div class="col-md-8 offset-md-2">
    <%= render 'form' %>
  </div>
  <p class="text-right"><%= link_to "戻る", tournament_path(@tournament), class: "btn btn-primary" %></p>
</div>