<% provide(:title, "トーナメント新規作成") %>
<% provide(:class_text, 'tournament-new') %>
<% provide(:button_text, "新規作成") %>

<div class="title">新しいトーナメント</div>
<div class="row">
  <div class="col-md-8 offset-md-2">
    <%= render 'form' %>
  </div>
</div>