<% provide(:title, "トーナメント新規作成") %>
<% provide(:class_text, 'tournament-new') %>
<% provide(:button_text, "新規作成") %>
<h1>新しいトーナメント</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
  </div>
</div>