// Place all the styles related to the Characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.thumbnail img {
  width: 60px;
}

div.thumbnail img:hover  {
  width: 60px;
  border-bottom-color: transparent;
  transform: scale(1.1);
  transition-duration: 0.3s;
}

@media (min-width: 640px) {

  div.thumbnail img {
    width: calc(60px + ((1vw - 6.4px)*7.14286));
  }
  
  div.thumbnail img:hover  {
    width: calc(60px + ((1vw - 6.4px)*7.14286));
  }
}

@media (min-width: 1200px) {

  div.thumbnail img {
    width: 100px;
  }
  
  div.thumbnail img:hover  {
    width: 100px;
  }
}

div.selected {
  img {
    border-bottom-color: transparent;
    //transform: translateY(0.1875em);
    transform: scale(1.1);
  }
}

#main_character, #sub_characters {
  min-height: 100px;
  margin: 50 auto;
}