// Place all the styles related to the matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* 基本情報編集モーダルウインドウ */

.label-report-match {
  margin-top: 5px;
}

.btn-report-match {
  margin: 15px 0;
  width: 30%;
}

