// Place all the styles related to the Tournaments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.game_title select {
  background-color: #bddfff;
}

#table-tournament {
  background-color: #ccc;
}

.show-ranking {
  font-size: xx-large;
  font-family: "arial black";
}