// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// ユーザー情報テーブル

.user-table {
  vertical-align: middle;
  text-align: center;
}

// 入力フォーム

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}

// ユーザー一覧ページ

#table-users {
  td {
    vertical-align: middle;
  }  
}

.game-titles {
  //display: flex;  
  padding-bottom: 20px;
}

.show-character-area-main {
  background-color:  #444;    // 背景色指定 
  padding:  20px;             // 余白指定 
  height: 200px;              // 高さ指定 
  width: 30%;
}

.show-character-area-subs {
  background-color:  #444;    // 背景色指定
  padding:  20px;             // 余白指定 
  height: 200px;              // 高さ指定 
  width: 70%;
}

.character-image {
  background-color: #888;
  padding: 10px;
}

.character-image-sub-index {
  background-color: #888;
  padding:  10px;
}

.character-image-main {
  width: 100px;
  height: 100px;
  margin:  10px;
  border-radius:  10px;
  background-color: #444;
}

.character-image-sub {
  width: 100px;
  height: 100px;
  //padding: 10px;
  margin:  10px;              // 外側の余白
  border-radius:  10px;
  background-color: #444;
}

.character-image-main:hover {
  border-bottom-color: transparent;
  transform: scale(1.1);
  transition-duration: 0.3s;
}

.character-image-sub:hover {
  border-bottom-color: transparent;
  transform: scale(1.1);
  transition-duration: 0.3s;
}

// 参加申請フォーム

.under {
  margin: 10px 0 10px 0;
}

.panel-heading {
    cursor: pointer;
}

.accordion-toggle a:after {
    font-family: 'Glyphicons Halflings';
    content:"\e113";
    float: right;
    color: inherit;
}

.accordion-toggle a.collapsed:after {
    font-family: 'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: inherit;
}

